<h1 class="m-4 color-theme">Contact us</h1>	
<div class="bg-white m-4 p-4 shadow">

<h2>Email Us:</h2>
<ul>
    <li>Aryan Gupta: <a href="mailto:2021a1r125@mietjammu.in">2021a1r125@mietjammu.in</a></li>
    <li>Garima Saigal: <a href="mailto:2021a1r094@mietjammu.in">2021a1r094@mietjammu.in</a></li>
    <li>Kumud Kesar: <a href="mailto:2021a1r112@mietjammu.in">2021a1r112@mietjammu.in</a></li>
    <li>Achut Kumar: <a href="mailto:2021a1r079@mietjammu.in">2021a1r079@mietjammu.in</a></li>
</ul>

<p>We value your suggestions and feedback. Feel free to email us. We appreciate your input and strive to continually improve our services.</p>

</div>
